
body {
    margin: 0; 
    padding:0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: auto;
    box-shadow: 1px 2px 10px rgb(139, 138, 138);
}
h3{
    font-size:26px;
    padding-left: 35px;
    
    color: rgb(59, 57, 57);
}
.infor{
    display: flex;
    margin-right: 5px;
}
.infor a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
}
.main{
    width: 67%;
    background-color:#99e1f6;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    box-shadow: 1px 2px 10px rgb(139, 138, 138);
    border-radius: 12px;
}
.team{
    width: 29%;
    height: auto;
    padding-top:17px;
    margin-left: 22px;
    margin-right: 25px;
}
img{
    width:100%;
    border-radius: 9px;
    display: block;
    box-shadow: 3px 3px 14px rgb(139, 138, 138);
   
}
.team div{
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding-top: 6px;
    font-size: 26px;
}
footer{
    margin-top:50px;
}
@media (max-width:1200px){
    .main{
     display: block;
     margin-top: 50px;
    }
    .team{
        width: 95%;
        margin: 0 auto;
    }
}
